<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>    
  </head>
  <body>
    <p>Index: {{req.body.index}}</p>
    <p>Name: {{req.body.name}}</p>
    <p>Surname: {{req.body.surname}}</p>
  </body>
</html>