<!DOCTYPE html>
<html>
  <head>
    <title>Json Data</title>
  </head>
  <body>
    <p>Index: {{ req.body.brand }}<br></p>
    <p>Name: {{ req.body.model }}<br></p>
    <p>Surname: {{ req.body.type }}</p>
  </body>
</html>
